<div class="container mx-auto py-6 max-sm:pt-0 lg:px-8 w-full h-screen">
  <div class="content px-3 flex items-center flex-col w-full h-full">
    <h1 class="font-inter text-2xl text-blue-500 py-4">TV Pokémon</h1>
    <div class="screen-tv flex justify-center rounded-xl shadow-md p-7 w-full h-2/4" >
      <img class="object-contain max-sm:object-contain" src="../../assets/background/tv_channel.png" alt="">
    </div>
    <div class="redirect p-9">
      <a class="hover:text-blue-900 text-blue-500 underline font-inter" href="https://watch.pokemon.com/pt-br/#/season?id=pokemon-asmr" target="_blank" >Veja mais clicando aqui</a>
    </div>
  </div>
</div>
